

.footer-year{
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: #757575;
}

.footer-day-icon{
    margin-right: 48px;
    cursor: pointer;
}

@media only screen and (max-width: 1280px) {
    .footer-main{
        display: none;
    }
}

@media only screen and (min-width: 1280px) {
    .footer-main{
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 72px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        padding-left: 24px;
        background: var(--primaryBackgroundColor);
        box-shadow: 0px 7.11111px 10.6667px rgba(0, 0, 0, 0.16);
    }
}