.appbar-root {
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding-left: 8%;
  padding-right: 8%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: #161616;
  box-shadow: 0px 7.11111px 10.6667px rgba(0, 0, 0, 0.16);
  z-index: 10000;
  box-sizing: border-box;
}

@media only screen and (max-width: 1280px) {
  ul{
      display: none;
  }
}

@media only screen and (min-width: 1280px) {
  ul{
    list-style-type: none;
  }
}


li {
  float: left;
}

li a {
  display: block;
  color: var(--primaryTextColor);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.appbar-options {
  display: flex;
}

.menu-active {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #FFD428;
  letter-spacing: 0.02em;
  text-align: center;
}

.appbar-logo{
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}
