

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.menu-title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
}

.menu-title-active{
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFD428;
}


@media only screen and (min-width: 1280px) {
  .bottom-menu-main{
      display: none;
  }
}

@media only screen and (max-width: 1280px) {
  .bottom-menu-main {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #121212;
    box-shadow: 0px 7.11111px 10.6667px rgba(0, 0, 0, 0.16);
    padding-left: 12px;
    padding-right: 12px;
  }
}