.group {
  position: relative;
}
input,
textarea {
  font-size: 18px;
  padding: 16px;
  display: block;
  width: 100%;
  border: 1px solid var(--primaryTextColor);
  border-radius: 8px;
  resize: none;
}

textarea{
  height: 110px;
}

input[type="text"],
textarea[type="text"] {
  background-color: transparent;
  color: var(--primaryTextColor);
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--primaryTextColor);
}

label {
  color: var(--primaryTextColor);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 8px;
  top: 16px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -8px;
  background: var(--primaryBackgroundColor);
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: 14px;
  color: var(--primaryTextColor);
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--primaryTextColor);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--primaryTextColor);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--primaryTextColor);
  }
  to {
    width: 0;
    background: transparent;
  }
}
