@media only screen and (max-width: 1280px) {
  .about-landscape{
    display: none ;
  }
}

@media only screen and (min-width: 1280px) {
.about-landscape {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

}

.about-root {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
}

.about-image-root{
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 56px;
  
}
.about-image {
  object-fit: cover;
  width: 600px;
  height: 310px;
  align-self: center;

}

.about-details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-details h1{
  font-size: 34px;
  line-height: 120%;
}

.about-contacts {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
}

.about-description {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02em;
  max-width: 600px;
  color: #cfcfcf;
  margin-top: 32px;

}

.about-button {
  width: 100%;
  max-width: 560px;
  background: #ffd428;
  border-radius: 48px;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;

  color: var(--textColor21);
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-top: 32px;
  font-weight: bold;
  cursor: pointer;
}
