

.contact-root {
  display: flex;
  flex-direction: row;
  margin-top: 72px;
  padding-left: 8%;
}

@media only screen and (max-width: 1280px) {
  .contact-root{
    display: none;
  }
}


.contact-stat {
  height: 100vh;
  flex: 1;
  display: flex;
  align-items: left;
  justify-content: start;
  flex-direction: column;
}

.contact-form {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; 
  background: var(--primaryBlack);
  padding-left: 100px;
  padding-right: 8%;
  
}

.contact-image{
  margin-top: 50px;
  width: 251px;
  height: 273px;
  background: rgba(255, 212, 40, 1);
}

.ready-chat-title {
  margin-top: 42px;
  color: #EA4500;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.02em;
  text-align: left;
}

.ready-chat-desc {
  margin-top: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-align: left;
  max-width: 500px;
}

.ready-chat-desc a, .ready-chat-desc a:visited, .ready-chat-desc a:active{
  color: white;
}

.form-title {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 8px;
}
.form-input-field {
  margin-top: 16px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 16px;
}

.form-project-type {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primaryTextColor);
  margin-top: 32px;
  margin-bottom: 24px;
  width: 100%;
}

.project-types {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  max-width: 550px;
}

.project-type {
  height: 62.18px;
  background: var(--primaryChipColor);
  border-radius: 8px;
  color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 20px;
  transition: 150ms;
}

.project-type-active{
  height: 62.18px;
  background: white;
  border-radius: 8px;
  color: black;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 20px;
  font-weight: 700;
  transition: 150ms;
}

.btn-submit {
  width: 100%;
  height: 66px;
  background: #ffd428;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  font-weight: 700;
  margin-top: 36px;
  margin-bottom: 110px;
}
