@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;300&display=swap');

* {
    margin: 0;
    padding: 0;
  }

  html{
    --primaryBackgroundColor:#121212;
    --primaryTextColor:white;
    --textColor21:#212121;
    --primaryChipColor:#2A2A2A;
    --primaryBlack:black;

    color: var(--primaryTextColor);
    background:  var(--primaryBackgroundColor);
    font-family: 'Inter', sans-serif;

    overflow: scroll;
    overflow-x: hidden;
}

html.dark{
    --primaryBackgroundColor:white;
    --primaryTextColor:black;
    --primaryChipColor:#2A2A2A;
    --primaryBlack:black;

    color: var(--primaryTextColor);
    background:  var(--primaryBackgroundColor);
    font-family: 'Inter', sans-serif;

    overflow: scroll;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.home-content-main{
    padding-top: 72px;
}

