

@media only screen and (max-width: 1280px) {
    .landing-main{
      display: none ;
    }
}

@media only screen and (min-width: 1280px) {
  .landing-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
  }
  
}

.landing-computer {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.computer {
  width: 100%;
  height: 80%;
}

.computer-weight {
  flex: 0.85;
}

.message-weight {
  flex: 0.3;
}
.landing-message {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.landing-title {
  max-width: 600px;
  font-size: 28px;
  line-height: 42px;
  user-select: none;
  font-weight: 400;
  color: #cfcfcf;
}

.landing-name {
  font-size: 28px;
  color: white;
}

.landing-contacts {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 300px;
}

.landing-actions {
  margin-top: 38px;
  display: flex;
}
.landing-button {
  background: #27ae60;
  border-radius: 48px;
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  min-width: 230px;
  max-height: 54px;
}

.btn-case-study {
  border-radius: 48px;
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  min-width: 220px;
  min-height: 54px;
  margin-left: 24px;
  background: #161616;
  border: 2px solid #f0f0f0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.btn-case-study p {
  font-size: 20px;
  line-height: 120%;
  width: 100%;
  flex: 1;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.landing-button div {
  margin-left: 16px;
  font-size: 20px;
  margin-right: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  text-align: start;
  width: fit-content;
  flex: 0.9;
  cursor: pointer;
}

.landing-button-icon {
  margin-left: 16px;
  flex: 0.2;
  cursor: pointer;
  max-width: 40px;
  max-height: 40px;
}

.landing-social:hover {
  transition: 25ms;
  cursor: pointer;
  border: 1.54784px solid rgba(196, 196, 196, 0.1);
  border-radius: 12px;
  box-sizing: border-box;
  
}
