
img {
    width: 100%;
	height: 100%;
	object-fit: cover;
}
.grid-layout {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
    padding: 1px;
    margin-top: 84px;
    margin-bottom: 84px;
  }

  .grid-item {
    border-radius: 10px;
    border-radius: 2px;
    display: flex;
	justify-content: center;
	align-items: center;
  }
  .span-0{
     grid-column: span 2;
    grid-row-end: span 2 ;
  }
  .span-1{
    grid-column: span 1;
    grid-row-end: span 1 ;
  }
  
   .span-2{
    grid-column-end: span 1;
    grid-row-end: span 1 ;
  }
  
   .span-3 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }