@media only screen and (max-width: 1280px) {
    .about-mobile{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
  }
  
  @media only screen and (min-width: 1280px) {
  .about-mobile {
    display: none;
  }
  
  }
  .about-mobile-root{
      display: flex;
      flex-direction: column;
      margin-top: 100px;
      padding-left: 8%;
      padding-right: 8%;
  }

  .about-mobile-image-root{
    display: flex;
    flex-direction: row;
  }
  .about-mobile-image {
    object-fit: cover;
    width: 80px;
    height: 80px;
  
  }

  .about-mobile-head{
      display: flex;
      flex-direction: column;
      margin-left: 20px;
  }

  .about-mobile-head h1{
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    
    letter-spacing: 0.02em;
    
    color: #FFFFFF;
  }

  .about-mobile-contacts{
      margin-top: 10px;
  }
  

  .landing-social{
      margin-right: 12px;
  }

.landing-social:hover {
    transition: 25ms;
    cursor: pointer;
    border: 1.54784px solid rgba(196, 196, 196, 0.1);
    border-radius: 12px;
    box-sizing: border-box;
    
  }

  .about-mobile-details {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  

  .about-mobile-description{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 150%;
/* or 21px */

letter-spacing: 0.02em;
    color: #cfcfcf;
    margin-top: 32px;
  }

  .about-mobile-button{

    background: #ffd428;
    border-radius: 48px;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--textColor21);
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 16px;
    margin-top: 32px;
    font-weight: bold;
    cursor: pointer;
  }