
@media only screen and (max-width: 1280px) {
    .contact-mobile-main {
      display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 72px;
    margin-bottom: 200px;
    }
  }
  @media only screen and (min-width: 1280px) {
    .contact-mobile-main  {
   display: none;
  }
}

.contact-mobile-title{
  margin-top: 8px;
  font-weight: 700;
  line-height: 120%;
  color: #EA4500;
  font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 120%;
letter-spacing: 0.01em;
}
.contact-mobile-desc{
  font-size: 14px;
line-height: 150%;
letter-spacing: 0.02em;
margin-top: 8px;
color: #CFCFCF;
max-width: 400px;
font-style: normal;
font-weight: normal;
line-height: 150%;
margin-bottom: 32px;
}


.contact-mobile-desc a, .contact-mobile-desc a:visited, .contact-mobile-desc a:active{
  color: #CFCFCF;
}

.contact-mobile-have-project{
  font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 120%;
letter-spacing: 0.02em;

}

.form-input-field-mobile{
  margin-top: 20px;
  width: 100%;
  max-width: 312px;
  margin-bottom: 16px;
}

.form-project-type-mobile{
  font-style: normal;
font-weight: bold;
font-size: 16px;
/* or 19px */
letter-spacing: 0.02em;
color: #F6F6F6;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 24px;
  width: 100%;
}

.project-types-mobile{
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  max-width: 600px;
}

.project-mobile-type {
  height: 62px;
  background: var(--primaryChipColor);
  border-radius: 8px;
  color: white;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 16px;
  font-weight: normal;
  margin-right: 20px;
  transition: 150ms;
}

.project-type-mobile-active{
  height: 62px;
  background: white;
  border-radius: 8px;
  color: black;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin-bottom: 16px;
  margin-right: 20px;
  font-weight: 700;
  transition: 150ms;
}

.btn-submit-mobile{
  max-width: 300px;
  padding: 16px;
  background: #ffd428;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  font-weight: 700;
  margin-top:24px;
  margin-bottom: 110px;

}