

@media only screen and (max-width: 1280px) {
  .landing-mobile-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    user-select: none;
  }
}

@media only screen and (min-width: 1280px) {
  .landing-mobile-main  {
 display: none;
}

}

.landing-mobile-message {
  margin-top: 112px;
  width: 100%;
  display: flex;
  height: fit-content;

}

.landing-mobile-title {
  font-size: 18px;
  line-height: 21px;
  user-select: none;
  font-weight: 400;
  color: #cfcfcf;
  text-align: center;
  margin-left: 24px;
  margin-right: 24px;
}

.landing-mobile-name {
  font-size: 18px;
  color: white;
}

.landing-mobile-contacts {
  margin-top: 12px;
  width: 100%;
  text-align: center;
}

.landing-mobile-social{
    margin: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 32px;
}

.landing-mobile-social:hover {
    transition: 10ms;
    cursor: pointer;
    border: 1px solid rgba(196, 196, 196, 0.2);
    border-radius: 12px;
    box-sizing: border-box;
  }
  
  .landing-mobile-weight{
      flex: 1;
  }

  .landing-mobile-computer{
    flex: 1;
    justify-content: center;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
  }

  .landing-mobile-computer-image{
    height: auto; 
    width: auto; 
    max-width: 520px;
    max-height: 480px;
  }


  .landing-mobile-grey{
      position: fixed;
      background: rgba(24, 24, 24, 1);
      width: 100%;
      height: 300px;
      bottom: 0;
      z-index: -1;
  }

  .landing-mobile-button{
    background: rgba(18, 18, 18, 1);
    bottom: 84px;
    right: 24px;
    border-radius: 48px;
    position: fixed;
    display: flex;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    cursor: pointer;
    min-height: 54px;
  }

  .landing-mobile-button-icon{
    margin-left: 16px;
    flex: 0.2;
    margin-right: 8px;
    cursor: pointer;
    max-width: 40px;
    max-height: 40px;
  }